
.button1{
    background-color: orange;  
    border: 1px white solid;
    outline: none;
    
}
.button1:active{
    background-color: rgb(146, 105, 17);
    outline: none;
}
.button1:focus{
    outline: none;
}
